@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap");
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 42px 25px;
  position: relative;
}

.header__logo {
  width: 111px;
  height: 26px;
}

.header nav {
  width: 100%;
  height: 0;
  overflow: hidden;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(144, 149, 167, 0.1)), to(rgba(29, 30, 37, 0.6)));
  background-image: linear-gradient(to bottom, rgba(144, 149, 167, 0.1), rgba(29, 30, 37, 0.6));
  position: absolute;
  top: 110px;
  right: 0;
  left: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.header nav.open {
  height: 100vh;
  overflow: visible;
}

.header nav.open ul {
  height: 236px;
}

.header nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  position: absolute;
  height: 0;
  overflow: hidden;
  width: 85%;
  padding: 16px 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.header nav ul li {
  margin-bottom: 26px;
  text-align: center;
}

.header nav ul li:last-child {
  margin-bottom: 0;
}

.header nav ul li a {
  text-decoration: none;
  color: #242d52;
  font-size: 0.875rem;
  font-weight: 700;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.header nav ul li a:hover {
  color: #9095a7;
}

.header > .get-started {
  display: none;
}

.header .hamburger {
  border: none;
  outline: none;
  background: transparent;
}

.header .hamburger:hover {
  cursor: pointer;
}

.header .hamburger div {
  width: 25px;
  height: 4px;
  background-color: #242d52;
  margin-bottom: 3px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.header .hamburger.open-nav .hamburger__top {
  -webkit-transform: rotate(405deg);
          transform: rotate(405deg);
  -webkit-transform-origin: 7px;
          transform-origin: 7px;
}

.header .hamburger.open-nav .hamburger__middle {
  display: none;
}

.header .hamburger.open-nav .hamburger__bottom {
  -webkit-transform: rotate(-405deg);
          transform: rotate(-405deg);
  -webkit-transform-origin: 7px;
          transform-origin: 7px;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 54px 169px;
  }
  .header nav {
    height: unset;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    background: transparent;
    position: relative;
    overflow: visible;
    top: unset;
    right: unset;
    left: unset;
    -webkit-transform: unset;
            transform: unset;
  }
  .header nav ul {
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    height: unset;
    padding: 5px;
  }
  .header nav ul li {
    margin: 0 24px 0 0;
  }
  .header nav ul li:last-child {
    margin-right: 0;
  }
  .header .get-started {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .header .hamburger {
    display: none;
  }
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero__image {
  width: 90%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.hero__textbox {
  text-align: center;
  background-image: url(/images/bg-simplify-section-mobile.svg);
}

.hero__textbox h2 {
  font-size: 1.75rem;
  font-size: 32px;
  color: #242d52;
  padding: 0 33px;
  font-weight: 700;
}

.hero__textbox p {
  font-size: 0.75rem;
  font-size: 15px;
  color: #9095a7;
  margin: 21px 0;
  padding: 0 41px;
}

.hero__textbox .get-started {
  margin: 8px 0;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-repeat: no-repeat;
  font-family: 'Be Vietnam Pro';
}

.get-started {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 16px 30px;
  border: none;
  border-radius: 32px;
  color: white;
  background-color: #f25f3a;
  -webkit-box-shadow: 0 0 3px 3px rgba(242, 95, 58, 0.3);
          box-shadow: 0 0 3px 3px rgba(242, 95, 58, 0.3);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.get-started:hover {
  color: #fafafa;
  cursor: pointer;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}
/*# sourceMappingURL=main.css.map */