@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');
@import 'functions';
@import 'mixins';
@import 'variables';

@import 'header';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    // background-image: url(/images/bg-tablet-pattern.svg);
    // background-position: center;
    font-family: 'Be Vietnam Pro', sans-serif;
}